<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue introduction</title>
  <script src="https://unpkg.com/vue@next"></script>
</head>
<body>

  <div id="app">

    <div>
      <button @click="age++">Increase age</button>
      <button @click="age--">Decrease age</button>
      <button @click="changeTitle">Change title</button>
      <button @click="toggleTitleVisibility">
        <!-- V if removes false element from DOM, V show uses css instead -->
        <span v-if="showTitle">Hide Title</span>
          <!-- <span v-if="!showTitle">Show Title</span> -->
        <span v-else="showTitle">Show Title</span>
        <span v-show="showTitle">Hide</span>
      </button>
    </div>

    <div v-if="showTitle">
      <h2>{{ title }} {{author}} {{ age }}</h2>
    </div>

  </div>

  <script src="app.js"></script>
</body>
</html>