<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue introduction</title>
  <script src="https://unpkg.com/vue@next"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body>

  <div id="app">

    <div>
      <button @click="toggleTitleVisibility">
        <!-- V if removes false element from DOM, V show uses css instead -->
        <span v-if="showBooks">Hide Title</span>
          <!-- <span v-if="!showBooks">Show Title</span> -->
        <span v-else="showBooks">Show Title</span>

      </button>
      <button v-show="showBooks" @click="toggleTitleVisibility">Hide in Css</button>
    </div>

    <a :href="url">Dynamic Url</a>

    <div v-if="showBooks">
      <ul>
        <li v-for="book in books" @click="eventHandler(book)" :class="{fav: book.isFav}">
          {{book.title}} - {{book.author}} - {{book.age}}
        </li>
      </ul>
    </div>

  </div>

  <script src="app.js"></script>
</body>
</html>